menu "ESP32 Private Configuration"

	menu "I2C Master"
	    config I2C_MASTER_SCL
	        int "SCL GPIO Num"
	        default 14
	        help
	            GPIO number for I2C Master clock line.
	
	    config I2C_MASTER_SDA
	        int "SDA GPIO Num"
	        default 27
	        help
	            GPIO number for I2C Master data line.
	
	    config I2C_MASTER_PORT_NUM
	        int "Port Number"
	        default 0
	        help
	            Port number for I2C Master device.
	            
	    config I2C_MASTER_FREQUENCY
	        int "Master Frequency"
	        default 100000
	        help
	        	I2C Speed of Master device.
	endmenu

	menu "WIFI Config"
		config WIFI_SSID
			string CONFIG_ESP_WIFI_SSID
			default "putwifihere"
			help
				SSID of the WIFI network.

		config WIFI_PASSWORD
			string CONFIG_ESP_WIFI_PASSWORD
			default "putpasswordhere"
			help
				Password of the WIFI network.
	endmenu
	
endmenu

